/* src/css/colors.css */
.headline1,
.display-small {
  font-family: var(--md-sys-typescale-headline1-font);
  font-weight: var(--md-sys-typescale-headline1-weight);
  font-size: var(--md-sys-typescale-headline1-size);
  line-height: var(--md-sys-typescale-headline1-line-height);
  letter-spacing: var(--md-sys-typescale-headline1-tracking);
}
.display3,
.display-medium {
  font-family: var(--md-sys-typescale-display3-font);
  font-weight: var(--md-sys-typescale-display3-weight);
  font-size: var(--md-sys-typescale-display3-size);
  line-height: var(--md-sys-typescale-display3-line-height);
  letter-spacing: var(--md-sys-typescale-display3-tracking);
}
.display2,
.display-large {
  font-family: var(--md-sys-typescale-display2-font);
  font-weight: var(--md-sys-typescale-display2-weight);
  font-size: var(--md-sys-typescale-display2-size);
  line-height: var(--md-sys-typescale-display2-line-height);
  letter-spacing: var(--md-sys-typescale-display2-tracking);
}
.headline4,
.headline-small {
  font-family: var(--md-sys-typescale-headline4-font);
  font-weight: var(--md-sys-typescale-headline4-weight);
  font-size: var(--md-sys-typescale-headline4-size);
  line-height: var(--md-sys-typescale-headline4-line-height);
  letter-spacing: var(--md-sys-typescale-headline4-tracking);
}
.headline3,
.headline-medium {
  font-family: var(--md-sys-typescale-headline3-font);
  font-weight: var(--md-sys-typescale-headline3-weight);
  font-size: var(--md-sys-typescale-headline3-size);
  line-height: var(--md-sys-typescale-headline3-line-height);
  letter-spacing: var(--md-sys-typescale-headline3-tracking);
}
.headline2,
.headline-large {
  font-family: var(--md-sys-typescale-headline2-font);
  font-weight: var(--md-sys-typescale-headline2-weight);
  font-size: var(--md-sys-typescale-headline2-size);
  line-height: var(--md-sys-typescale-headline2-line-height);
  letter-spacing: var(--md-sys-typescale-headline2-tracking);
}
.overline,
.label-medium {
  font-family: var(--md-sys-typescale-overline-font);
  font-weight: var(--md-sys-typescale-overline-weight);
  font-size: var(--md-sys-typescale-overline-size);
  line-height: var(--md-sys-typescale-overline-line-height);
  letter-spacing: var(--md-sys-typescale-overline-tracking);
}
.button,
.label-large {
  font-family: var(--md-sys-typescale-button-font);
  font-weight: var(--md-sys-typescale-button-weight);
  font-size: var(--md-sys-typescale-button-size);
  line-height: var(--md-sys-typescale-button-line-height);
  letter-spacing: var(--md-sys-typescale-button-tracking);
}
.subhead2,
.title-small {
  font-family: var(--md-sys-typescale-subhead2-font);
  font-weight: var(--md-sys-typescale-subhead2-weight);
  font-size: var(--md-sys-typescale-subhead2-size);
  line-height: var(--md-sys-typescale-subhead2-line-height);
  letter-spacing: var(--md-sys-typescale-subhead2-tracking);
}
.subhead1,
.title-medium {
  font-family: var(--md-sys-typescale-subhead1-font);
  font-weight: var(--md-sys-typescale-subhead1-weight);
  font-size: var(--md-sys-typescale-subhead1-size);
  line-height: var(--md-sys-typescale-subhead1-line-height);
  letter-spacing: var(--md-sys-typescale-subhead1-tracking);
}
.headline5,
.title-large {
  font-family: var(--md-sys-typescale-headline5-font);
  font-weight: var(--md-sys-typescale-headline5-weight);
  font-size: var(--md-sys-typescale-headline5-size);
  line-height: var(--md-sys-typescale-headline5-line-height);
  letter-spacing: var(--md-sys-typescale-headline5-tracking);
}
.caption,
.body-small {
  font-family: var(--md-sys-typescale-caption-font);
  font-weight: var(--md-sys-typescale-caption-weight);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
  letter-spacing: var(--md-sys-typescale-caption-tracking);
}
.body2,
.body-medium {
  font-family: var(--md-sys-typescale-body2-font);
  font-weight: var(--md-sys-typescale-body2-weight);
  font-size: var(--md-sys-typescale-body2-size);
  line-height: var(--md-sys-typescale-body2-line-height);
  letter-spacing: var(--md-sys-typescale-body2-tracking);
}
.body1,
.body-large {
  font-family: var(--md-sys-typescale-body1-font);
  font-weight: var(--md-sys-typescale-body1-weight);
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  letter-spacing: var(--md-sys-typescale-body1-tracking);
}
.material-theme {
  --md-sys-typescale-headline1-font: Roboto;
  --md-sys-typescale-headline1-weight: 400;
  --md-sys-typescale-headline1-size: 36px;
  --md-sys-typescale-headline1-line-height: 44px;
  --md-sys-typescale-headline1-tracking: 0px;
  --md-sys-typescale-display3-font: Roboto;
  --md-sys-typescale-display3-weight: 400;
  --md-sys-typescale-display3-size: 45px;
  --md-sys-typescale-display3-line-height: 52px;
  --md-sys-typescale-display3-tracking: 0px;
  --md-sys-typescale-display2-font: Roboto;
  --md-sys-typescale-display2-weight: 400;
  --md-sys-typescale-display2-size: 57px;
  --md-sys-typescale-display2-line-height: 64px;
  --md-sys-typescale-display2-tracking: -0.25px;
  --md-sys-typescale-headline4-font: Roboto;
  --md-sys-typescale-headline4-weight: 400;
  --md-sys-typescale-headline4-size: 24px;
  --md-sys-typescale-headline4-line-height: 32px;
  --md-sys-typescale-headline4-tracking: 0px;
  --md-sys-typescale-headline3-font: Roboto;
  --md-sys-typescale-headline3-weight: 400;
  --md-sys-typescale-headline3-size: 28px;
  --md-sys-typescale-headline3-line-height: 36px;
  --md-sys-typescale-headline3-tracking: 0px;
  --md-sys-typescale-headline2-font: Roboto;
  --md-sys-typescale-headline2-weight: 400;
  --md-sys-typescale-headline2-size: 32px;
  --md-sys-typescale-headline2-line-height: 40px;
  --md-sys-typescale-headline2-tracking: 0px;
  --md-sys-typescale-overline-font: Roboto;
  --md-sys-typescale-overline-weight: 500;
  --md-sys-typescale-overline-size: 12px;
  --md-sys-typescale-overline-line-height: 16px;
  --md-sys-typescale-overline-tracking: 0.5px;
  --md-sys-typescale-button-font: Roboto;
  --md-sys-typescale-button-weight: 500;
  --md-sys-typescale-button-size: 14px;
  --md-sys-typescale-button-line-height: 20px;
  --md-sys-typescale-button-tracking: 0.10000000149011612px;
  --md-sys-typescale-subhead2-font: Roboto;
  --md-sys-typescale-subhead2-weight: 500;
  --md-sys-typescale-subhead2-size: 14px;
  --md-sys-typescale-subhead2-line-height: 20px;
  --md-sys-typescale-subhead2-tracking: 0.10000000149011612px;
  --md-sys-typescale-subhead1-font: Roboto;
  --md-sys-typescale-subhead1-weight: 500;
  --md-sys-typescale-subhead1-size: 16px;
  --md-sys-typescale-subhead1-line-height: 24px;
  --md-sys-typescale-subhead1-tracking: 0.15000000596046448px;
  --md-sys-typescale-headline5-font: Roboto;
  --md-sys-typescale-headline5-weight: 400;
  --md-sys-typescale-headline5-size: 22px;
  --md-sys-typescale-headline5-line-height: 28px;
  --md-sys-typescale-headline5-tracking: 0px;
  --md-sys-typescale-caption-font: Roboto;
  --md-sys-typescale-caption-weight: 400;
  --md-sys-typescale-caption-size: 12px;
  --md-sys-typescale-caption-line-height: 16px;
  --md-sys-typescale-caption-tracking: 0.4000000059604645px;
  --md-sys-typescale-body2-font: Roboto;
  --md-sys-typescale-body2-weight: 400;
  --md-sys-typescale-body2-size: 14px;
  --md-sys-typescale-body2-line-height: 20px;
  --md-sys-typescale-body2-tracking: 0.25px;
  --md-sys-typescale-body1-font: Roboto;
  --md-sys-typescale-body1-weight: 400;
  --md-sys-typescale-body1-size: 16px;
  --md-sys-typescale-body1-line-height: 24px;
  --md-sys-typescale-body1-tracking: 0.5px;
  --md-sys-color-primary-light: #636100;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ebe86e;
  --md-sys-color-on-primary-container-light: #1d1d00;
  --md-sys-color-secondary-light: #616042;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e7e4bf;
  --md-sys-color-on-secondary-container-light: #1d1c06;
  --md-sys-color-tertiary-light: #3e6656;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c0ecd7;
  --md-sys-color-on-tertiary-container-light: #002116;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #797869;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1c1c16;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1c1c16;
  --md-sys-color-surface-variant-light: #e6e3d1;
  --md-sys-color-on-surface-variant-light: #48473a;
  --md-sys-color-inverse-surface-light: #31302b;
  --md-sys-color-inverse-on-surface-light: #f4f0e7;
  --md-sys-color-primary-dark: #cecb56;
  --md-sys-color-on-primary-dark: #333200;
  --md-sys-color-primary-container-dark: #4a4900;
  --md-sys-color-on-primary-container-dark: #ebe86e;
  --md-sys-color-secondary-dark: #cbc8a4;
  --md-sys-color-on-secondary-dark: #323218;
  --md-sys-color-secondary-container-dark: #49482d;
  --md-sys-color-on-secondary-container-dark: #e7e4bf;
  --md-sys-color-tertiary-dark: #a4d0bc;
  --md-sys-color-on-tertiary-dark: #0c3729;
  --md-sys-color-tertiary-container-dark: #264e3f;
  --md-sys-color-on-tertiary-container-dark: #c0ecd7;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-outline-dark: #939181;
  --md-sys-color-background-dark: #1c1c16;
  --md-sys-color-on-background-dark: #e6e2d9;
  --md-sys-color-surface-dark: #1c1c16;
  --md-sys-color-on-surface-dark: #e6e2d9;
  --md-sys-color-surface-variant-dark: #48473a;
  --md-sys-color-on-surface-variant-dark: #cac7b6;
  --md-sys-color-inverse-surface-dark: #e6e2d9;
  --md-sys-color-inverse-on-surface-dark: #1c1c16;
  --md-sys-color-shadow: #000000;
  color-scheme: dark light;
}
@media (prefers-color-scheme: light) {
  .material-theme {
    --md-sys-color-primary: var(--md-sys-color-primary-light);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
    --md-sys-color-primary-container: var( --md-sys-color-primary-container-light );
    --md-sys-color-on-primary-container: var( --md-sys-color-on-primary-container-light );
    --md-sys-color-secondary: var(--md-sys-color-secondary-light);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
    --md-sys-color-secondary-container: var( --md-sys-color-secondary-container-light );
    --md-sys-color-on-secondary-container: var( --md-sys-color-on-secondary-container-light );
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
    --md-sys-color-tertiary-container: var( --md-sys-color-tertiary-container-light );
    --md-sys-color-on-tertiary-container: var( --md-sys-color-on-tertiary-container-light );
    --md-sys-color-error: var(--md-sys-color-error-light);
    --md-sys-color-on-error: var(--md-sys-color-on-error-light);
    --md-sys-color-error-container: var(--md-sys-color-error-container-light);
    --md-sys-color-on-error-container: var( --md-sys-color-on-error-container-light );
    --md-sys-color-outline: var(--md-sys-color-outline-light);
    --md-sys-color-background: var(--md-sys-color-background-light);
    --md-sys-color-on-background: var(--md-sys-color-on-background-light);
    --md-sys-color-surface: var(--md-sys-color-surface-light);
    --md-sys-color-surface-1: rgb(99, 97, 0, 0.05);
    --md-sys-color-surface-2: rgb(99, 97, 0, 0.08);
    --md-sys-color-surface-3: rgb(99, 97, 0, 0.11);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
    --md-sys-color-on-surface-variant: var( --md-sys-color-on-surface-variant-light );
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
    --md-sys-color-inverse-on-surface: var( --md-sys-color-inverse-on-surface-light );
  }
  .dark-theme {
    --md-sys-color-primary: var(--md-sys-color-primary-dark);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
    --md-sys-color-primary-container: var( --md-sys-color-primary-container-dark );
    --md-sys-color-on-primary-container: var( --md-sys-color-on-primary-container-dark );
    --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
    --md-sys-color-secondary-container: var( --md-sys-color-secondary-container-dark );
    --md-sys-color-on-secondary-container: var( --md-sys-color-on-secondary-container-dark );
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --md-sys-color-tertiary-container: var( --md-sys-color-tertiary-container-dark );
    --md-sys-color-on-tertiary-container: var( --md-sys-color-on-tertiary-container-dark );
    --md-sys-color-error: var(--md-sys-color-error-dark);
    --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
    --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
    --md-sys-color-on-error-container: var( --md-sys-color-on-error-container-dark );
    --md-sys-color-outline: var(--md-sys-color-outline-dark);
    --md-sys-color-background: var(--md-sys-color-background-dark);
    --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
    --md-sys-color-on-surface-variant: var( --md-sys-color-on-surface-variant-dark );
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --md-sys-color-inverse-on-surface: var( --md-sys-color-inverse-on-surface-dark );
  }
}
@media (prefers-color-scheme: dark) {
  .material-theme {
    --md-sys-color-primary: var(--md-sys-color-primary-dark);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
    --md-sys-color-primary-container: var( --md-sys-color-primary-container-dark );
    --md-sys-color-on-primary-container: var( --md-sys-color-on-primary-container-dark );
    --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
    --md-sys-color-secondary-container: var( --md-sys-color-secondary-container-dark );
    --md-sys-color-on-secondary-container: var( --md-sys-color-on-secondary-container-dark );
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --md-sys-color-tertiary-container: var( --md-sys-color-tertiary-container-dark );
    --md-sys-color-on-tertiary-container: var( --md-sys-color-on-tertiary-container-dark );
    --md-sys-color-error: var(--md-sys-color-error-dark);
    --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
    --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
    --md-sys-color-on-error-container: var( --md-sys-color-on-error-container-dark );
    --md-sys-color-outline: var(--md-sys-color-outline-dark);
    --md-sys-color-background: var(--md-sys-color-background-dark);
    --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-surface-1: rgb(206, 203, 86, 0.05);
    --md-sys-color-surface-2: rgb(206, 203, 86, 0.08);
    --md-sys-color-surface-3: rgb(206, 203, 86, 0.11);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
    --md-sys-color-on-surface-variant: var( --md-sys-color-on-surface-variant-dark );
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --md-sys-color-inverse-on-surface: var( --md-sys-color-inverse-on-surface-dark );
  }
  .light-theme {
    --md-sys-color-primary: var(--md-sys-color-primary-light);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
    --md-sys-color-primary-container: var( --md-sys-color-primary-container-light );
    --md-sys-color-on-primary-container: var( --md-sys-color-on-primary-container-light );
    --md-sys-color-secondary: var(--md-sys-color-secondary-light);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
    --md-sys-color-secondary-container: var( --md-sys-color-secondary-container-light );
    --md-sys-color-on-secondary-container: var( --md-sys-color-on-secondary-container-light );
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
    --md-sys-color-tertiary-container: var( --md-sys-color-tertiary-container-light );
    --md-sys-color-on-tertiary-container: var( --md-sys-color-on-tertiary-container-light );
    --md-sys-color-error: var(--md-sys-color-error-light);
    --md-sys-color-on-error: var(--md-sys-color-on-error-light);
    --md-sys-color-error-container: var(--md-sys-color-error-container-light);
    --md-sys-color-on-error-container: var( --md-sys-color-on-error-container-light );
    --md-sys-color-outline: var(--md-sys-color-outline-light);
    --md-sys-color-background: var(--md-sys-color-background-light);
    --md-sys-color-on-background: var(--md-sys-color-on-background-light);
    --md-sys-color-surface: var(--md-sys-color-surface-light);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
    --md-sys-color-on-surface-variant: var( --md-sys-color-on-surface-variant-light );
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
    --md-sys-color-inverse-on-surface: var( --md-sys-color-inverse-on-surface-light );
  }
}

/* src/css/fonts.css */
@font-face {
  font-family: Roboto;
  src: url(./fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Symbols Outlined";
  src: url(./fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.material-theme {
  --md-sys-typescale-label-large-size: 14px;
  --md-sys-typescale-label-medium-size: 12px;
  --md-sys-typescale-label-small-size: 11px;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

/* src/css/index.css */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: Roboto;
}
.material-theme {
  --md-sys-elevation-1: 0 1px 3px var(--md-sys-color-shadow);
  --md-sys-elevation-2: 0 2px 3px var(--md-sys-color-shadow);
  --md-sys-elevation-3: 0 3px 3px var(--md-sys-color-shadow);
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.12;
  --md-sys-state-pressed-state-layer-opacity: 0.12;
  --md-sys-state-dragged-state-layer-opacity: 0.16;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.c-loading {
  text-align: center;
  margin: 1rem;
}
.o-app-flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.o-app-flex-content {
  flex: 1;
  overflow: auto;
}
.o-canvas {
  padding-left: 16px;
  padding-right: 16px;
}
option {
  font-family: var(--md-sys-typescale-body1-font), sans-serif;
  color: initial;
}
.o-interactive::after {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background-color: var(--md-sys-color-on-surface);
}
.o-interactive.o-interactive--active::after,
.o-interactive--active .o-interactive::after {
  background-color: var(--md-sys-color-on-surface-variant);
}
.o-interactive.o-interactive--active,
.o-interactive--active .o-interactive {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
.o-interactive:hover::after {
  opacity: var(--md-sys-state-hover-state-layer-opacity);
}
.o-interactive:active::after {
  opacity: var(--md-sys-state-focus-state-layer-opacity);
}

/* src/components/button/button.css */
.c-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  color: var(--md-sys-color-primary);
  font-weight: var(--md-sys-typescale-button-weight);
  font-size: var(--md-sys-typescale-button-size);
  line-height: var(--md-sys-typescale-button-line-height);
  transform: translateZ(0);
}
.c-button--with-icon {
  padding-right: 16px;
}
.c-button--icon-only {
  justify-content: center;
  align-items: center;
  width: 40px;
}
.c-button[disabled] {
  opacity: 0.38;
  pointer-events: none;
}
.c-button__icon {
  margin-right: 8px;
}
.c-button--fab {
  position: fixed;
  right: 16px;
  bottom: calc(80px + 16px);
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: var(--md-sys-elevation-3);
}
.c-button--elevated {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--md-sys-color-surface-1);
  color: var(--md-sys-color-on-surface);
  box-shadow: var(--md-sys-elevation-1);
}
.c-button--elevated.c-button--with-icon {
  padding-left: 16px;
}
.c-button--filled {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
.c-button--filled.c-button--with-icon {
  padding-left: 16px;
}
.c-button--filled::after {
  background-color: var(--md-sys-color-on-primary);
}
.c-button--tonal {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
.c-button--tonal.c-button--with-icon {
  padding-left: 16px;
}
.c-button--tonal::after {
  background-color: var(--md-sys-color-on-secondary-container);
}
.c-button--outlined {
  padding-left: 24px;
  padding-right: 24px;
  border-color: var(--md-sys-color-outline);
  color: var(--md-sys-color-primary);
}
.c-button--outlined:active {
  border-color: var(--md-sys-color-primary);
}
.c-button--outlined.c-button--with-icon {
  padding-left: 16px;
}
.c-button--outlined::after {
  background-color: var(--md-sys-color-primary);
}

/* src/components/form/form.css */
.c-text-field {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 56px;
  margin-top: calc(0.5 * var(--md-sys-typescale-caption-line-height));
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 4px;
}
.c-text-field:focus-within {
  border-color: var(--md-sys-color-primary);
  outline: 1px solid var(--md-sys-color-outline);
}
.c-text-field__container {
  --background: var(--md-sys-color-surface);
  margin-bottom: 28px;
}
.c-text-field__label {
  position: absolute;
  top: 0;
  left: 12px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--background);
  color: var(--md-sys-color-on-surface-variant);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
  margin-top: calc(-0.5 * var(--md-sys-typescale-caption-line-height));
  opacity: 0;
}
.c-text-field:focus-within .c-text-field__label:not(.c-text-field__label--no-value),
.c-text-field__label--has-value {
  opacity: 1;
}
.c-text-field__input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-sys-typescale-body1-font);
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  text-overflow: ellipsis;
}
.c-text-field__input {
  outline: none;
}
.c-text-field__select--empty {
  opacity: 0.6;
}
.c-text-field__support-text {
  margin-left: 16px;
  color: var(--md-sys-color-on-surface-variant);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
}
.c-button-strip {
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
  gap: 12px;
}
.c-button-strip--align-left {
  justify-content: flex-start;
}
.c-radio__container {
  display: block;
  padding: 16px 8px 16px 24px;
}
.c-radio {
  display: none;
}
.c-radio__label {
  position: relative;
  cursor: pointer;
}
.c-radio + .c-radio__label::before {
  content: "";
  display: block;
  position: absolute;
  left: -24px;
  top: 0;
  width: 0;
  height: 0;
  margin-right: 8px;
  padding: 8px;
  border: 2px solid var(--md-sys-color-outline);
  border-radius: 100%;
}
.c-radio:checked + .c-radio__label::before {
  border-color: var(--md-sys-color-primary);
}
.c-radio:checked + .c-radio__label::after {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 5px;
  width: 0;
  height: 0;
  margin-right: 8px;
  padding: 5px;
  background-color: var(--md-sys-color-primary);
  border-radius: 100%;
}

/* src/components/navigation/navigation.css */
.c-navigation-tray {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--md-sys-color-surface);
}
.c-navigation-tray::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--md-sys-color-surface-2);
}
.c-navigation-tray__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 12px 0 16px 0;
  color: var(--md-sys-color-on-secondary-container);
  font-size: var(--md-sys-typescale-label-medium-size);
  text-decoration: none;
}
.c-navigation-tray__item--active {
  font-weight: bolder;
}
.c-navigation-tray__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 32px;
  margin-bottom: 4px;
  border-radius: 16px;
  font-size: var(--md-sys-typescale-label-small-size);
  transform: translateZ(0);
}
.c-app-bar {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}
.c-app-bar__strip {
  position: sticky;
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
}
.c-app-bar__title {
  flex-grow: 1;
  font-family: var(--md-sys-typescale-headline5-font);
  font-weight: var(--md-sys-typescale-headline5-weight);
  font-size: var(--md-sys-typescale-headline5-size);
  line-height: var(--md-sys-typescale-headline5-line-height);
  letter-spacing: var(--md-sys-typescale-headline5-tracking);
}
.c-app-bar__title--center {
  text-align: center;
}

/* src/components/list/list.css */
.c-list {
  list-style: none;
  padding: 0;
}
.c-list__item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid var(--md-sys-color-outline);
}
.c-list__item-body {
  flex: 1;
  font-size: var(--md-sys-typescale-body1-size);
}

/* src/components/avatar/avatar.css */
.c-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 18px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-size: var(--md-sys-typescale-body1-size);
}

/* src/components/tabs/tabs.css */
.c-tabs__container {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}
.c-tabs__item {
  position: relative;
  flex: 1;
  min-width: 90px;
  max-width: 360px;
  padding: 12px 16px;
  border-radius: 100px;
  font-size: var(--md-sys-typescale-button-size);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.c-tabs__item--active {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  font-weight: bold;
}

/* src/components/modal/modal.css */
.c-modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--md-sys-color-surface);
  opacity: 0.7;
}
.c-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: calc(100% - (28px * 2));
  min-width: 280px;
  transform: translate(-50%, -50%);
  padding: 0;
  border-width: 0;
  border-radius: 28px;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  box-shadow: var(--md-sys-elevation-3);
}
.c-modal__title {
  margin-bottom: 16px;
  color: var(--md-sys-color-on-surface);
  text-align: center;
}
.c-modal__content {
  margin: 24px;
}
.c-modal__buttons {
  margin: 24px;
  text-align: right;
}
.c-modal__buttons .c-button + .c-button {
  margin-left: 8px;
}

/* src/components/table/table.css */
.c-table__wrapper {
  max-width: calc(100vw - 2 * 16px);
  border: 1px solid var(--md-sys-color-surface-variant);
  border-radius: 12px;
  overflow-x: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.c-table {
  width: 100%;
  border-collapse: collapse;
}
.c-table thead th {
  background-color: var(--md-sys-color-surface-1);
  color: var(--md-sys-color-on-surface-variant);
}
.c-table th,
.c-table td {
  border-left: 1px solid var(--md-sys-color-surface-variant);
  border-top: 1px solid var(--md-sys-color-surface-variant);
  padding: 12px 20px;
  text-align: center;
}
.c-table .c-table__cell--no-padding {
  padding: 0;
}
.c-table tbody th {
  text-align: left;
}
thead:first-child tr:first-child th,
tbody:first-child tr:first-child td {
  border-top: 0;
}
td:first-child,
th:first-child {
  border-left: 0;
}

/* src/components/card/card.css */
.c-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
.c-card--vertical {
  flex-direction: column;
  align-items: stretch;
}
.c-card--filled {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}
.c-card__meta {
  opacity: 0.6;
}
.c-card__image {
  background-size: cover;
  background-position: center center;
}
.c-card--horizontal .c-card__image {
  height: 100px;
  aspect-ratio: 1;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.c-card--vertical .c-card__image {
  height: 100px;
  width: 100%;
  border-radius: 12px;
}
.c-card__content {
  flex: 1;
  padding: 16px;
}
.c-card__body {
  margin-top: 16px;
  margin-bottom: 16px;
}
.c-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.c-card__buttons {
  margin-right: 16px;
  text-align: right;
}
.c-card-grid {
  display: grid;
  grid-gap: 16px;
}

/* src/components/chip/chip.css */
.c-chip {
  display: inline-flex;
  position: relative;
  align-items: center;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--md-sys-color-outline);
  background-color: var(--md-sys-color-surface-1);
  color: var(--md-sys-color-on-surface);
  cursor: pointer;
}
.c-chip + .c-chip {
  margin-left: 8px;
}
.c-chip--with-icon {
  padding-left: 8px;
}
.c-chip__icon {
  font-size: 18px;
  margin-right: 8px;
}
/*# sourceMappingURL=index.css.map */
