.c-text-field {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 56px;
  margin-top: calc(0.5 * var(--md-sys-typescale-caption-line-height));
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 4px;
}

.c-text-field:focus-within {
  border-color: var(--md-sys-color-primary);
  outline: 1px solid var(--md-sys-color-outline);
}

.c-text-field__container {
  --background: var(--md-sys-color-surface);
  margin-bottom: 28px;
}

.c-text-field__label {
  position: absolute;
  top: 0;
  left: 12px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--background);
  color: var(--md-sys-color-on-surface-variant);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
  margin-top: calc(-0.5 * var(--md-sys-typescale-caption-line-height));
  opacity: 0;
}

.c-text-field:focus-within
  .c-text-field__label:not(.c-text-field__label--no-value),
.c-text-field__label--has-value {
  opacity: 1;
}

.c-text-field__input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-sys-typescale-body1-font);
  font-size: var(--md-sys-typescale-body1-size);
  line-height: var(--md-sys-typescale-body1-line-height);
  text-overflow: ellipsis;
}

.c-text-field__input {
  outline: none;
}

.c-text-field__select--empty {
  opacity: 0.6;
}

.c-text-field__support-text {
  margin-left: 16px;
  color: var(--md-sys-color-on-surface-variant);
  font-size: var(--md-sys-typescale-caption-size);
  line-height: var(--md-sys-typescale-caption-line-height);
}

.c-button-strip {
  text-align: right;
}

.c-button-strip button {
  margin-left: 16px;
}

.c-radio__container {
  display: block;
  padding: 16px 8px 16px 24px;
}

.c-radio {
  display: none;
}

.c-radio__label {
  position: relative;
  cursor: pointer;
}

.c-radio + .c-radio__label::before {
  content: "";
  display: block;
  position: absolute;
  left: -24px;
  top: 0;
  width: 0;
  height: 0;
  margin-right: 8px;
  padding: 8px;
  border: 2px solid var(--md-sys-color-outline);
  border-radius: 100%;
}

.c-radio:checked + .c-radio__label::before {
  border-color: var(--md-sys-color-primary);
}

.c-radio:checked + .c-radio__label::after {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 5px;
  width: 0;
  height: 0;
  margin-right: 8px;
  padding: 5px;
  background-color: var(--md-sys-color-primary);
  border-radius: 100%;
}
