.c-list {
  list-style: none;
  padding: 0;
}

.c-list__item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid var(--md-sys-color-outline);
}

.c-list__item-body {
  flex: 1;
  font-size: var(--md-sys-typescale-body1-size);
}
