@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@font-face {
  font-family: Roboto;
  src: url("./fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.material-theme {
  --md-sys-typescale-label-large-size: 14px;
  --md-sys-typescale-label-medium-size: 12px;
  --md-sys-typescale-label-small-size: 11px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
